<main>
    <form class="search" action="search" method="POST">
        <input type="search" name="search" placeholder="Search here...">
        <button type="submit">Search</button>
    </form>

</main>